<!-- <p>cart works!</p> -->

<div
  class="container my-5 background-color: rgb(68, 205, 223) border=5px solid black"
>
  <div id="emptyCart">
    <!-- <p class="fs-2">You don't have any products</p> -->
  </div>
  <div id="table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">title</th>
          <th scope="col">count</th>
          <th scope="col">Price</th>
          <!-- <th scope="col">Total Amount</th> -->
        </tr>
      </thead>
      <tbody id="cartTableBody"></tbody>
    </table>
    <p class="fs-5 text" id="total">Total-₹</p>
    <div class="d-flex justify-content">
      <!-- <a href="/E-Shopping/cart.html"> -->
      <button class="btn btn-warning border:3px solid black">
        Go to products
      </button>
    </div>
  </div>
</div>
