<!-- <p>register works!</p> -->

<section class="vh-100">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="userregname"
                    class="form-control form-control-lg"
                    placeholder="Your name"
                    name="name"
                    ngModel
                    required
                    #modelName="ngModel"
                    [ngClass]="
                      modelName.invalid && modelName.dirty ? 'is-invalid' : ''
                    "
                  />
                  <div *ngIf="modelName.invalid" class="invalid-feedback">
                    Enter a valid name
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="regemail"
                    class="form-control form-control-lg"
                    placeholder="example@email.com"
                    name="email"
                    ngModel
                    required
                    email
                    #modelEmail="ngModel"
                    [ngClass]="
                      modelEmail.invalid && modelEmail.dirty ? 'is-invalid' : ''
                    "
                  />
                  <div *ngIf="modelEmail.invalid" class="invalid-feedback">
                    Enter a valid email
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="regpassword"
                    class="form-control form-control-lg"
                    placeholder="Password"
                    name="password"
                    ngModel
                    required
                    password
                    #modelPassword="ngModel"
                    [ngClass]="
                      modelPassword.invalid && modelPassword.dirty
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="modelPassword.errors?.['required'] && modelPassword.dirty"
                    class="invalid-feedback"
                  >
                    Please enter a valid password
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="regpassword2"
                    class="form-control form-control-lg"
                    placeholder="Confirm password"
                    name="password2"
                    ngModel
                    required
                    password
                    #modelPassword2="ngModel"
                    [ngClass]="
                      !(modelPassword.value === modelPassword2.value) &&
                      modelPassword2.invalid &&
                      modelPassword2.dirty
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="modelPassword2.errors?.['required'] && modelPassword2.dirty"
                    class="invalid-feedback"
                  >
                    Please enter a valid password
                  </div>
                </div>

                <!-- <p id="regerror" class="text-danger"></p> -->

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    [disabled]="!registerForm.valid"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a class="text-50 fw-bold"><u>Login here</u> </a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
