<!-- <p>orders works!</p> -->

<div class="container my-5">
  <p class="fs-1">Orders</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Date</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody id="table">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>

      </tr>
    </tbody>
  </table>
</div>
